body {
  background-color: black;
  font-family: 'Roboto', sans-serif;
}


h1.header {
  color: red;
  font-size: 40px;
  background-color: cyan;
  text-align: center;

}
h1 {
  color: purple;
  background-image: htc.jpg;
}
img.burrito {
  width: 100px;
}
div.heading {
  padding: 20;
}
