body {
  font-family: 'Roboto', sans-serif;
  background-color: white;
}

img.img-circle {
  width: 250px;

}

h1 {
font-family: 'Roboto', sans-serif;
color: black;

}

h2 {
  font-style: italic;
}

h3.header {
  font-family: 'Germania One', cursive;
}
